# Ignore everything by default
**/*.*
**/fp*
!**/*.md

# Files to track
!**/*.kicad*
!**/*.pretty

# Panel generation files
Panel/*
!Panel/kikit_script.py
!Panel/README.md

# Git/GitHub related files
!.gitignore
!.github/workflows/pdf_output.yaml

# Manual
!_manual/image/*.png
!_manual/README.md
